{% from "macros/sidebar.njk" import sidebar %}

{% set header %}
<a href="/" class="btn-ghost p-2 h-12 w-full justify-start">
  {% if site.logo and (site.logo.svg or site.logo.url) %}
    <div class="bg-sidebar-primary text-sidebar-primary-foreground flex aspect-square size-8 items-center justify-center rounded-lg">
      {% if site.logo.svg %}
        {{ site.logo.svg | safe }}
      {% else %}
        <img src="{{ site.logo.url }}" alt="{{ site.title }} logo" class="size-6" />
      {% endif %}
    </div>
  {% endif %}
  <div class="grid flex-1 text-left text-sm leading-tight">
    <span class="truncate font-semibold">{{ site.title }}</span>
    {% if site.subtitle %}
      <span class="truncate text-xs text-muted-foreground">{{ site.subtitle }}</span>
    {% endif %}
  </div>
</a>
{% endset %}

{{ sidebar(
  id="sidebar",
  label="Sidebar navigation",
  header=header,
  footer=footer,
  content_attrs={ "class": "scrollbar" },
  menu=menu | sidebarMenu(collections)
) }}
