@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');

@import "tailwindcss";
@import "basecoat-css";

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1960px);
  }
}

[x-cloak] {
  /* @apply hidden;   */
}

.infinite-scroll {
  animation: scroll 40s linear infinite;
}

.prose {
  @apply my-6;

  > h2,
  > h3,
  > h4 {
    @apply sm:text-lg my-6 scroll-m-18 font-semibold tracking-tight;

    a {
      @apply no-underline;
    }
  }
  > h2 {
    @apply text-xl sm:text-2xl mt-8 lg:mt-12 first:mt-0;
  }
  > h3 {
    @apply text-lg sm:text-xl lg:mt-8;
  }
  p > a,
  li > a,
  dt > a,
  dd > a,
  td > a,
  th > a {
    @apply underline underline-offset-2 decoration-muted-foreground/50 hover:decoration-foreground/50 transition-all;
  }
  code:not(pre > code) {
    @apply relative rounded-md bg-muted px-[0.3rem] py-[0.2rem] font-mono text-[13px];
  }
  pre > code {
    @apply bg-muted dark:bg-muted/50 block rounded-lg px-4 py-3 text-[13px];  
  }
  pre:has(> code) {
    @apply relative;
  }
  pre:has(> code) > button {
    @apply flex items-center justify-center size-6 absolute right-2.5 top-2.5 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] rounded-md hover:bg-accent dark:hover:bg-accent/50 text-muted-foreground hover:text-foreground [&_svg]:size-4;
  }
  blockquote {
    @apply border-l-4 border-border pl-4;
  }
  ol {
    @apply list-decimal ml-6;
  }
  ul {
    @apply list-disc ml-6;
  }
  ol,
  ul {
    li {
      @apply mt-2;

      ol,
      ul {
        @apply mt-0 mb-0;
      }
    }
  }
  dl {
    @apply border-b pb-3 my-6;
    dt {
      @apply border-t pt-3 mt-3 first:mt-0;
    }
    dd {
      @apply mt-2;
    }
    dl {
      @apply mt-4 border-b-0 pb-0 pl-8 my-0;
    }
  }
  b,
  strong {
    @apply font-semibold;
  }
  > p,
  blockquote,
  ul,
  ol,
  dl,
  pre {
    @apply my-6;
  }
  > *:first-child {
    @apply !mt-0;
  }
  > *:last-child {
    @apply !mb-0;
  }
  table {
    @apply w-full caption-bottom text-sm;
    thead {
      @apply [&_tr]:border-b;
    }
    tbody {
      @apply [&_tr:last-child]:border-0;
    }
    tfoot {
      @apply bg-muted/50 border-t font-medium [&>tr]:last:border-b-0;
    }
    tr {
      @apply hover:bg-muted/50 border-b transition-colors;
    }
    th {
      @apply text-foreground h-10 px-2 text-left align-middle font-medium [&:has([role=checkbox])]:pr-0 [&>[role=checkbox]]:translate-y-[2px];
    }
    td {
      @apply p-2 align-middle [&:has([role=checkbox])]:pr-0 [&>[role=checkbox]]:translate-y-[2px];
    }
    caption {
      @apply text-muted-foreground mt-4 text-sm;
    }
  }
}

dialog.command {
  @apply inset-y-0 opacity-0 transition-all transition-discrete;

  &:is([open],:popover-open) {
    @apply opacity-100;

    &::backdrop {
      @apply opacity-100;
    }
    > article {
      @apply scale-100;
    }

    @starting-style {
      @apply opacity-0;

      &::backdrop {
        @apply opacity-0;
      }
      > article {
        @apply scale-95;
      }
    }
  }
  &::backdrop {
    @apply bg-black/50 opacity-0 transition-all transition-discrete;
  }
  article {
    @apply bg-popover text-popover-foreground fixed top-[50%] left-[50%] z-50 -translate-x-1/2 -translate-y-1/2 rounded-lg border shadow-md md:min-w-[450px] h-[450px];
  }
}

/* preview flex h-[450px] w-full justify-center p-10 data-[align=center]:items-center data-[align=end]:items-end data-[align=start]:items-start */

/* bg-popover text-popover-foreground flex h-full w-full flex-col overflow-hidden rounded-lg border shadow-md md:min-w-[450px] */

@layer components {
  dialog.command {
    [role='option'] {
      @apply aria-hidden:hidden [&_svg]:text-muted-foreground relative flex cursor-default items-center gap-2 rounded-sm pl-2 py-1.5 pr-7.5 text-sm outline-hidden select-none [&_svg]:shrink-0 [&_svg]:size-4 aria-disabled:opacity-50 aria-disabled:pointer-events-none disabled:opacity-50 disabled:pointer-events-none w-full truncate;
      
      &[aria-selected='true'] {
        @apply bg-[image:var(--check-icon)] bg-no-repeat bg-position-[center_right_0.5rem] bg-size-[0.875rem];
      }
      &.active,
      &:focus-visible {
        @apply bg-accent text-accent-foreground;
      }
    }
    [role='listbox'] [role='heading'] {
      @apply flex text-muted-foreground px-2 py-1.5 text-xs;
    }
    [role='listbox'] [role='group']:not(:has([role='option']:not([aria-hidden='true']))) {
      @apply hidden;
    }
    [role='separator'] {
      @apply border-border -mx-1 my-1;
    }
    header {
      @apply flex h-9 items-center gap-2 border-b px-3 mb-1;

      svg {
        @apply size-4 shrink-0 opacity-50 absolute;
      }
      input[role='combobox'] {
        @apply placeholder:text-muted-foreground flex h-10 flex-1 w-full rounded-md bg-transparent py-3 text-sm outline-hidden disabled:cursor-not-allowed disabled:opacity-50 min-w-0;
      }
    }
    [role='listbox']:not(:has([data-value]:not([aria-hidden='true'])))::before {
      @apply flex items-center justify-center p-6 text-sm truncate;
    }
    [role='listbox'][data-empty]:not(:has([data-value]:not([aria-hidden='true'])))::before {
      @apply content-[attr(data-empty)];
    }
    [role='listbox']:not([data-empty]):not(:has([data-value]:not([aria-hidden='true'])))::before {
      @apply content-['No_results_found'];
    }
  }
}
